a {
    color: #2086d7;
    text-decoration: none;
    -webkit-transition: color 250ms;
    transition: color 250ms;
}


.navigation {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: background 250ms;
    transition: background 250ms;
    background: #2B3A42;
    background: #2a6bcc;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.navigationInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0.6em 1em;
}

.navigationLink {
    position: relative;
    display: inline-block;
    padding-bottom: 0.1em;
    margin-right: 1.5em;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.navigationLogo {
	margin: auto;
}

.logo {
	float: left;
	width: auto;
	height: 15px;
	opacity: 0.9;
	-webkit-transition: opacity 250ms;
	transition: opacity 250ms;
}

@media (min-width: 768px) {
    .navigationLinks {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 56px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}