.wrapper {
    width: 100%;
    text-align: center;
    padding: 48px 0 0 0;
    background-color: #2a6bcc;
}

.wrapper .visionMessage {
    
    word-wrap: normal;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 28px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-weight: 200;
   
    
}

